html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica", "Roboto", sans-serif;
  background-color: lightgray;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
